
.icon-videocam:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-users:before { content: '\e802'; } /* '' */
.icon-video:before { content: '\e803'; } /* '' */
.icon-town-hall:before { content: '\e83c'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-mobile:before { content: '\f10b'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-vimeo-squared:before { content: '\f194'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */